body {
    min-width: 250px;  
    max-width: 500px;
    max-height: 600px;
    overflow: auto;   
    padding: 7px;
}

.container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center elements vertically */
    align-items: center; /* Center elements horizontally */
    text-align: center; /* Make sure text inside elements is centered */
}

h1 {
    font-size: 18px;
}

p {
    font-size: 17px;
}

#checkSafety {
    background-color: #1d89df;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
}

#logo {
    width: 59px;
    height: auto;
}

.loading-container {
    width: 100%;
    background-color: #e0e0e0;
    height: 20px;
    margin-top: 20px;
    border-radius: 5px;
    display: none; /* Hidden initially */
}

/* Loading bar (progress) */
.loading-bar {
    width: 0%; /* Start with no progress */
    height: 100%;
    background-color: #4caf50; /* Green color for the progress bar */
    border-radius: 5px;
    transition: width 0.5s ease;
}
